<!DOCTYPE html>
<html>
<head>
  <title>CbGirlsInternship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="main">
    <div class="container">
      <h1>
        <center>
        <font color="#64B24A">Career</font><font color="#FF3300">Builder</font> Girls In Technology Intership</h1></center>
      <center><p><h2> The Techy Ten</h2></p></center>
    </div>
  </div>
</head>
            <p></p>
            <p></p>
            <p></p>

<body>
<div class="tech">
  <h3>
  The Techy Ten are a group of marvelous high school students selected from The Gwinnett School of Mathematics, Science and Technology,
  Chattahoochee High School, and Northview High School to be apart of Careerbuilder Girls in Technolgy Internship. This five week
  journey was filled with much excitement, hard work and determination. Each girl was placed with a mentor and host team that
  assisted and taught them many things throughout their time at CareerBuilder.
  </h3>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

  <table class="interns">
    <tr>
      <th>
        The Interns
      </th>
    </tr>
      <tr>
      <td>
     <b>Christine Ho</b>
  <p>
    Hello! I’m Christine Ho, a rising junior at the Gwinnett School of Mathematics, Science, and Technology. At CareerBuilder,
    I have been working with the UX team as an intern. It’s great to see passionate people at work. I have had the opportunity to be exposed
    to many different educational backgrounds, which have given me the chance to learn about pursuable career paths, and majors that I didn’t know about prior to this summer internship.
    This internship has allowed to me to understand important concepts about joining the workforce including networking, branding, communicating effectively, etc. As part of my time here at CareerBuilder,
    I have been involved in various fields such as analytics, web programming, interactive design, and research. Being a CB intern has given me the best hands on experience to help me learn all about Women in
    Tech and understand the best approach to take when joining the workforce
  </p>
      </td>
      </tr>
    <td>
      <b>Ruby Rhoden</b>
<p>
  This experience here at CareerBuilder has been truly wonderful. You can tell that the people here, especially your mentor and team really care about you.
  They want to see you succeed and they’ll be there to help you along the way.It seems like there’s never a dull moment here,
  there’s always something to learn. At the start of this summer I set out to learn how to code and this internship really helped me reach my goal.
  My team leader was very supportive of this and helped me learn a language called Ruby.With this I was able to make my own website!I’m glad I
  had the opportunity to have an internship here.If you get this opportunity too, don’t hesitate to take it, you won’t regret it!
</p>
      </tr>
    </td>
    <tr>

    </tr>
  </table>





</div>



















<%= yield %>
</body>
</html>
