<!DOCTYPE html>
<html>
<head>
  <title>CbGirlsInternship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="main">
    <div class="container">
      <h1>
        <center>
        <font color="#FFFFFF">CareerBuilder</font> Girls In Technology Intership
      </h1>
      </center>
      <center><p><h2> The Techy Ten</h2></p></center>
    </div>
  </div>
</head>
            <p></p>
            <p></p>
            <p></p>

<body>
<div class="tech">
  <h3>
  The Techy Ten are a group of marvelous high school students selected from The Gwinnett School of Mathematics, Science and Technology,
  Chattahoochee High School, and Northview High School to be apart of Careerbuilder Girls in Technolgy Internship. This five week
  journey was filled with much excitement, hard work and determination. Each girl was placed with a mentor and host team that
  assisted and taught them many things throughout their time at CareerBuilder.
  </h3>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<table class="table1">
  <tr> <th> <b> <center>The Interns</center> </b> </th> </tr>
  <tr> <td> <b>Christine Ho</b></td> <td> Hello! I’m Christine Ho, a rising junior at the Gwinnett School of Mathematics, Science, and Technology. At CareerBuilder,
    I have been working with the UX team as an intern. It’s great to see passionate people at work. I have had the opportunity to be exposed
    to many different educational backgrounds, which have given me the chance to learn about pursuable career paths, and majors that I didn’t know about prior to this summer internship.
    This internship has allowed to me to understand important concepts about joining the workforce including networking, branding, communicating effectively, etc. As part of my time here at CareerBuilder,
    I have been involved in various fields such as analytics, web programming, interactive design, and research. Being a CB intern has given me the best hands on experience to help me learn all about Women in
    Tech and understand the best approach to take when joining the workforce.</td></tr>
  <br>
    <tr> <td> <b>Ruby Rhoden</b> </td> <td>This experience here at CareerBuilder has been truly wonderful. You can tell that the people here, especially your mentor and team really care about you.
      They want to see you succeed and they’ll be there to help you along the way.It seems like there’s never a dull moment here,
      there’s always something to learn. At the start of this summer I set out to learn how to code and this internship really helped me reach my goal.
      My team leader was very supportive of this and helped me learn a language called Ruby.With this I was able to make my own website!I’m glad I
      had the opportunity to have an internship here.If you get this opportunity too, don’t hesitate to take it, you won’t regret it!</td></tr>
    <br>
  <tr> <td> <b>Carina Rojanaroj</b></td><td>Ever since being at this internship, I've learned that the people and the environment at CB is super chill and laid-back.
    People from my team (consumer intel) and many other teams have a meeting on Tues​day of every week where all the "squads" present what
    they've accomplished for the week. I've been to one of these meetings and was surprised at how much people can do in a week. My current
    project is meeting up with people and having one-on-one sessions with them about what they do at CB, how they got there, and how they
    ultimately contribute to the company, and I have met up with people from all over the company (examples being UX designers, user
    researchers, software engineers), so I have a little taste of everything. I realized that everyone specializes in their own part and
    do drastically different types of work, but everyone seems to be extremely passionate in what they do.</td></tr>
    <br>
  <tr> <td> <b>Amani Momin</b></td><td>While interning at CareerBuilder.com, I was on the sales productivity team. I never really considered sales or business as an actual
    career for myself. Therefore, I was definitely branching out and exploring a different field that I could consider in the future. As a
    intern, I mainly help the sales team by cleaning up accounts in the system. I also got to shadow people from different teams so I kind
    of got an overall perspective of how the teams work with each other as a whole. I even attended a few meeting with my sales team and
    saw ideas being discussed and conflicts being solved in a professional manner. I also attended my first ever hackaton! During hackaton,
    I watched people present their final products. Following hackaton, I attended a class led by Tech Talent South and learned some computer
    languages like html, css, and ruby. Overall, my experience at CareerBuilder.com has been phenomenal and the atmosphere that CareerBuilder.com
    has built is incredibly fun to work with.</td></tr>
    <br>
  <tr> <td> <b>Stephanie Olele</b></td><td> My experience at CareerBuilder has been amazing. On the first day, I learned I was placed on the CBOne Team which is lead by Kyle Bumpus, and
    I also got to meet my mentor, Monica Skidmore. Through the past two weeks, I have learned about Ruby on Rails and HTML & CSS through the
    tutorials on codeacademy. These programs will be essential for my project, which is to create a web application to manage the failed
    applications queue, so I am able to edit, view, categorize, and resend failed job applications in a clean web interphase. I have enjoyed
    working here because it is not only fun, but the work environment is also wonderful because of the disciplined freedom that is given here.
    Overall, this experience has given me insight on what it's like to work in the computer science field, and I am so happy I got this great
    experience.</td></tr>
    <br>
  <tr> <td> <b>Nnemella Wisu</b></td><td>Throughout my time here at Careerbuilder, I have learned numerous things about the UX team (designers specifically) and what they do.
    During my first week, my team leader, Liz Lara, had me work on a teardown of one of my favorite web apps, Polyvore. Initially, I
    loved the web app, but after carefully studying the onboarding process of the site, I realized it was highly flawed. After, I used
    my teardown to do a complete redesign of the homepage. Since then, my team and I have been discussing plans for my last few weeks at
    CareerBuilder. Though not final, we have been considering doing a branding of Axiom Cloud. I have enjoyed this internship very much.
    I love the relaxed environment, the passion I see each employee display, and pride within the company. This experience has been truly
    enlightening.</td></tr>


  </table>

















<%= yield %>
</body>
</html>
