<!DOCTYPE html>
<html>
<head>
  <title>CbGirlsInternship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="main">
    <div class="container">
      <h1>
        <center>
        <font color="#0000FF">Career</font><font color="#FF3300">Builder</font> Girls In Technology Intership</h1></center>
      <center><p>Techy Ten</p></center>
    </div>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
