body{
  background-color: #00006B;
  color:#64B24A;
}
.table1{
  text-align: center;
  font-size: medium;
  border: 5px groove #F7F7F7;

}
.table1 th{
  vertical-align: middle; text-align: center;
  border: 5px groove #F7F7F7;
}
.table1 td {
  vertrical-align:middle; text-align: center;
  border: 5px groove #F7F7F7;

}